body {
    width: 400px;
    height: 400px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
}

p {
    display: inner-flex;
    margin: auto 10px;
    font-size: 20px;
    color: green;
    border-radius: 6px;
    border: 1px solid lightblue;
    padding: 10px;
}
